.footer-cont{
    background-color: #333;
 
    width: 80%;
    height: 200px;
    margin-top: 100px;
    display:flex;
    justify-content: center;
    padding: 0px 145px;

}
.inner.footer{
     display: flex;
    flex-direction: column;
    justify-content: center;
  

.footer-header{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
}

.footer-header h2{
    padding-top: 20px;
    font-size: 25px;
    color:#C0C0C0;
    margin-bottom: 10px;
}

.footer-header h3{
    font-size: 20px;
    color:#C0C0C0;
    text-align: center;

    
}


.fc{
  color:#C0C0C0;
   font-size: 42px; 

}
.fc:hover{
  color:white;
  cursor: pointer;
   transform: transition(0.3s)
}

.fi{
    color:#333;
    font-size: 25px;
    position: absolute; 
    z-index: 2;
}
.fi:hover{

  cursor: pointer;
}

.ftr-links{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
.ftr-links a{
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin: 5px;
}

