.splash-div{
    position: flex;
}

.splash-image{
  position: absolute;
    height: 450px;
    width: 100%;
    // left: 0;
    // right: 0;
//   transform: scale(.2);
//   left: 0px;
//   height: 100;
}