// .splash-div{
//   position: relative;
//   display:flex;
//   background-image: url(../../images/food_wine.jpg);
// }

.background-img{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image_url('food_wine.jpg');
  background-position: bottom;
  background-size: cover;
  height: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.search-header{
  color: white;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  
}
.search-header h1{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.restaurant-display-hold{
  display: flex;
  justify-content: center;
}

.restaurant-display{
background-color: white;
 padding: 0px 30px;
 padding-bottom: 100px;
 width:1220px;
 min-width: 1220px;
}

.display-location{
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: solid lightgray 1px;
  width: 100%;
}

.display-location p{ 
  font-size: 13px;
}

.splash-header{
  position: absolute;
z-index: 2;
  color:white;
}

.splash-f-cont{
 display:flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
min-width: 1140px;

}



.splash-search-input{
  background-color:white;
  height: 40px;
  border:none;
  border-right: solid lightgray 1px;
  font-size: 15px;
  font-family: 'Amiko', sans-serif;
  padding-right: 15px;
  padding-left: 5px;
  margin-top: 3px;
  cursor:pointer;
  
}
.splash-search-select{
  background-color:white;
  height: 40px;
  border: none;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 23px;
  font-family: 'Amiko', sans-serif;
  cursor:pointer;
  margin-right: 10px;
}
.src-u{
    cursor: pointer;
      display: flex;
    align-items: center;
    justify-content: flex-end;
}
.src-u2{
    cursor: pointer;
      display: flex;
    align-items: center;
    justify-content: flex-end;
}
.src-u > i{
position: absolute;
font-size: 18px;
background-color: white;
margin-right: 10px;
}
.src-u2 > i{
position: absolute;
font-size: 18px;
background-color: white;

}

#splash-search-form{
  background-color: white;
  width: 495px;
  height: 48px;
  display:flex;
  border-radius: 3px;
  justify-content: space-around;
  margin-right: 15px;
}

.splash-time-in{
  display:flex;
  align-items: center;
  border-right: solid lightgray 1px;
  position: relative;
  padding-right:10px;
  cursor: pointer;


}
.splash-time-in select{
  font-family: 'Amiko', sans-serif;
  font-size: 15px;
  border: none;
  width: 125px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

}
.splash-time-in i{
  position: absolute;
  background-color:white;
  right: 0;
  padding-right: 15px;
  cursor: pointer;
}

#splash-search-div{
  display:flex;
  align-items: center;

}


.search-form-btn{
    border-radius: 3px;
    background-color: #B22222;
    color: white;
    font-family: 'Amiko', sans-serif;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    height: 48px;
    width: 125px;

}

.splash-search-bar{
  display:flex;
  align-items: center;
  background-color: white;
    height: 48px;
    width:300px;
    font-size: 15px;
    border-radius: 3px;
    margin-right: 15px;
 
}
.splash-search-bar input{
  font-family: 'Amiko', sans-serif;
    height: 38px;
    width: 300px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin-left: 10px;

}
.splash-search-bar input:focus{
  outline: none;
}
.splash-search-bar input::placeholder{
  color: rgb(138, 136, 136);
  font-weight: 520;
  font-size: 15px;
}

.splash-search-bar img{
  width: 19px;
  height: 19px;
  padding-left: 10px;

}

.search-form-btn:hover {
    background-color:  #8d1b1b;
    transition: 0.4s;
  }