// Place all the styles related to the api::reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reserve-div-c{
background-color: white;
display: flex;
height: 100%;
justify-content: center;
padding-bottom: 100px;
}

.reserve-div-l{

   width: 600px;
   margin-right: 20px;
}

.reserve-div-r{

    width: 300px;
    margin-top: 50px;
}

.reserve-div-r h2{
    font-weight: bold;
    font-size:15px;
    margin-bottom: 20px;
}

.rdiv-inf{
    line-height: 1.7;
}
.rdiv-inf p{
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: none;
}
.rdiv-inf p:first-of-type{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
}

.rdiv-l{
    margin-top: 35px;
    font-weight:bold;
}

.rdiv-img{
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.rdiv-a img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.rdiv-b{
margin-left: 18px;

}

.rdiv-b h2{
font-weight: bold;
font-size: 20px;
padding-bottom: 20px;

}

.rdiv-dets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rdiv-dets p{

    justify-content: space-between;
    padding-right: 35px;
}
.rdiv-dets i{
    padding-right: 10px;
}

.dd{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

.det-cu{
    display:flex;
    margin-bottom: 5px;
     font-size: 15px;
}

.det-si{
color: #B22222;
font-weight: bold;
cursor: pointer;
}

.det-si2{
color: #B22222;
font-weight: bold;

}

.dd-input{
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
}

.dd-input input{
    width: 260px;
    font-family: 'Amiko', sans-serif;
    height: 42px;
    border: solid lightgray 1px;
    border-radius: 3px;
    padding-left: 10px;
    color: gray

}
.dd-input input:first-of-type:hover{
    border: solid black 1px;
}

.dd-select{
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.dd-select input{
    width: 260px;
    font-family: 'Amiko', sans-serif;
    height: 42px;
    border: solid lightgray 1px;
    border-radius: 3px;
    padding-left: 10px;
    color: gray
}
.dd-select select{
    width: 259px;
    font-family: 'Amiko', sans-serif;
    height: 44px;
    border: none;
    padding-left: 10px;
    color: black
}

.dd-select input:hover{
    border: solid black 1px;

}
.dd-select div:hover{
    border: solid black 1px;

}
.dd-sel-cont{
width: 272px;
 border: solid lightgray 1px;
   border-radius: 3px;
height: 44px;
}

.comp-btn{
    background-color:#B22222;
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    font-family: 'Amiko', sans-serif;
    cursor:pointer;
    margin-top: 20px;
    margin-bottom: 17px;

}
.comp-btn:hover {
    background-color:  #8d1b1b;
    transition: 0.4s;
  }

.t-o-s{
    display:flex;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 1.4;
    
}


.chk-bx{
    font-size: 14px;
}

.chk-bx input{
margin-bottom: 10px;;
}

.timer{
    display:flex;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

.time-up{
    
    background-color: rgb(243, 223, 223);
    width:100%;
    padding: 12px 0 10px 20px;
    border-radius: 3px;
    
}
.time{
    background-color:#d7eef5;
    padding: 12px 0 10px 20px;
    width:100%;
     border-radius: 3px;
}

#tb{
    font-weight: bold;
}

.up-res-hold{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 100%;
  padding: 25px 12vw;
  padding-bottom: 100px;
  background-color: #f4f6f8;
}
.up-res-r{
  width: 50vw;
  margin-right: 3vw;

}

.up-res-l{
  width: 23vw;

}

.up-res-conf{
  box-shadow: 0px 1px 1px lightgray;
  width: 100%;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
  

}
.res-conf-head{
  height: 75px;
  background-color: rgb(92, 187, 147);
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.res-check i:first-of-type{
  color:white;
  font-size: 50px;
}

.res-check i:last-of-type{
  position: absolute;
  color:  rgb(92, 187, 147);
  font-size: 30px;
}

.res-check{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.res-check-i{
color:white;
font-weight: bold;
}
.res-check-i p:last-of-type{
font-size:12px;
margin-top: 5px;
}

.res-conf-inf{
  box-sizing: border-box;
  width:100%;
  height: 300px;
  padding: 10px 10px;
  border-bottom: solid lightgray 1px;
background-color: white;

}

.conf-rest{
    display:flex;

}
#u-conf-pic{
  height: 105px;
  width: 105px;
  margin-right: 10px;
}

.conf-rest-inf{
    display:flex;
    flex-direction: column;
    margin-top: 4px;
  
}

.conf-rest-inf span{
   
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.conf-rest-inf span p{
    font-size: 15px;
    margin: 4px 0 0 0;
}
.conf-rest-inf span p:last-of-type{
    font-size: 15px;
    margin: 6px 0 0 0;
}
.conf-rest-inf h3{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    font-weight: bold;
     margin-bottom: 9px;
}

#conf-cal{
height: 19px;
width: 16px;
margin-right: 10px;
}

#conf-ppl{
height:16px;
width: 16px;
margin-right: 10px;
}
.conf-links a{
    text-decoration: none;
    color: #247F9E;
    font-size: 15px;
    cursor: pointer;

   
}
.conf-links a:hover{
    color:  #B22222;
    
   
}

.conf-links{
    display: flex;
    margin-top: 4px;
}

.conf-links div{
    height: 14px;
    border-right: solid lightgray 1px;
    margin-top: -3px;
}

.conf-links a:first-of-type{
   padding-right: 12px;

   
}
.conf-links a:last-of-type{
   margin-left: 12px;
   
}
.going{
    background-color: white;

}

.going p{
    font-size: 14px;
    margin: 26px 0 0 17px;
}
.going-t{
    display:flex;
    margin-top: 15px;

}

.going-g{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}



.going-c{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:16px 16px 8px 16px;
}
.going-c i{
    font-size:50px;
    color: #bb61cf;
}

.going-c span{
    position: absolute;
    color:white;
    font-weight: none;

}

.going-g > span{
    font-size: 13px;
    font-weight: none;
    margin-top: 5px;
}
.going-g > span:last-of-type{
    color:gray;
}

.res-conf-btm{
    height:85px;
    width: 100%;
    background-color: white;

   
}

.res-conf-updt{
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 1px 1px lightgray;
  width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 25px;

}

.res-conf-updt img{
    height: 35px;
    width: 30px;
    margin-right: 15px;
}

.res-conf-updt p{
    font-size: 12px;
    margin-bottom: 20px;
}
.res-conf-updt span{
    font-size: 12px;
    font-weight: bold;
    
    
}
#imp-inf{
margin-top: 5px;
}

.res-conf-updt p:first-of-type{
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: bold;
}

.res-conf-head2{
    display:flex;
    align-items: center;
    margin-bottom: 25px;
}

.res-conf-head2 h2{
    font-size: 18px;
    font-weight: bold;
}
.res-conf-updt select{
    width: 100%;
    height: 50px;
    border: solid lightgray 1px;
    font-family: 'Amiko', sans-serif;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 0;
    margin-bottom: 15px;
}

.res-conf-updt select:focus{
outline: none;

}

#restext textarea{
    box-sizing: border-box;
     width: 80%;
    height: 50px;
    border-style: none;
    resize:none;
    margin: 5px 15px;
    width: 100%;
    font-size: 15px;
    font-family: 'Amiko', sans-serif;
   background-color:transparent;
   font-weight:100;
   line-height: 1.7;

}
#restext textarea:focus{
    outline: none;

    
    
}
#restext textarea::placeholder{
    color:gray;

    
    
}
#restext{
    padding: 5px 5px;
    border: solid lightgray 1px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#restext-btn{
    
    display:none;
    justify-content: flex-end;
    width: 100%;
    
    
}

#restext-btn button{

    background-color: #247F9E;
    color: white;
    border: none;
    width: 90px;
    height: 35px;
    font-size: 12px;
    cursor: pointer;

}
#restext-btn button:focus{
    outline:none;
    
}

.member-sin{
    box-sizing:border-box;
    box-shadow: 0px 1px 1px lightgray;
  width: 100%;
    border-radius: 0 0 5px 5px;
    height:170px;
    background-color: white;
    padding: 25px;
    display: flex;
    align-items: flex-start;

}
.mem-c{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
}

.mem-c i{
 font-size:70px;
 color: #e69384;

}
.mem-c span{
    font-size: 25px;
 position: absolute;
    color:white;
    font-weight: none;

}

.mem-inf{
    display:flex;
    flex-direction: column;
    margin-top: 3px;
}

.mem-inf img{
    height: 16px;
    width: 14px;
    margin-right: 16px;

}

.mem-inf span:first-of-type{
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}
.mem-inf span{
    font-size: 15px;
   color: gray;
   margin-bottom: 15px;
}
.mem-inf i{
   width: 17px;
   height: 16px;
   transform: scaleX(-1);
   color: black;
   margin-right: 10px;
}

.res-mod-hold{
    margin: 40px 15vw;
    min-height: 62vh;
    
}
.res-mod-div{
    width: 60%;
    min-width: 500px;
    
}

.your-res{
    font-size: 13px;
    font-weight: bold;
}

.your-res-inf{
    display: flex;
    border-bottom: solid lightgray 1px;
    margin: 22px 0;
    padding-bottom: 15px;;
}
.your-res-inf img{
    display: flex;
    height: 65px;
    width:65px;
    border-radius: 5px;
    margin-right: 10px;
}
.your-res-icn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.your-res-icn > span{
    font-size: 21px;
    font-weight: bold;
    margin-top: 7px;
}

.your-res-icn > div{
    display: flex;
    margin-bottom: 4px;
    
}
.your-res-icn  i{
font-size: 18px; 
margin-right: 10px;

}

.mod-icn{
    margin-right: 35px;
}
.mod-icn span{
font-size: 15px;
}

.mod-res{
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 20px;
}

.mod-res-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mod-res-sel{
    background-color:white;
    height:45px;
    border: solid lightgray 1px;
    border-radius: 3px;
    width: 75%;
    min-width: 75%;
    display: flex;
    justify-content: space-around;
}

.mod-res-div button{
    background-color: #B22222;
    color:white;
    border: none;
    height: 45px;
    width: 22%;
    font-weight: bold;
    cursor: pointer;
}

.mod-res-div button:hover{
background-color:  #8d1b1b;
    transition: 0.4s;
}

.mod-date{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height:100%;
    border: none;
    font-family: 'Amiko', sans-serif;
    cursor: pointer;
}
.mod-date-s{
    position: absolute;
   background-color: white;
   width: 110px;
    font-size: 15px;
    margin-left: 15px;
    height: 35px;
    display: flex;
    align-items: center;
}

.mod-date input{
   height: 100%;
  border: none;
    outline: none;
    font-family: 'Amiko', sans-serif;
    padding: 0 10px;
    cursor: pointer;
    color:transparent;
    margin-left: 15px;
    width: 123px;
   
}
   
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }


.mod-time{
    box-sizing: border-box;
    height:100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Amiko', sans-serif;
    justify-content: flex-end;
    padding: 0 10px;


}

.mod-time i{
    background-color: white;
    position: absolute;
    cursor: pointer;
    margin-right: 5px;
}

.mod-time select{
   height: 100%;
   width: 105px;
  border: none;
    outline: none;
    font-size: 15px;
font-family: 'Amiko', sans-serif;
   cursor: pointer;
   margin-right: 5px;
} 

.mod-guest{
    box-sizing: border-box;
    height:100%;
    display: flex;
     align-items: center;
    border: none;
    font-family: 'Amiko', sans-serif;
    cursor: pointer;
    justify-content: flex-end;
    padding: 0 10px;
    
}
.mod-guest i{
    background-color: white;
    position: absolute;
    cursor: pointer;
    margin-right: 5px;

}

.mod-guest select{
   height: 100%;
   border: none;
outline: none;
font-family: 'Amiko', sans-serif;
font-size: 15px;
width: 115px;
cursor: pointer;
margin-right: 5px;


}

.g-bord{
    border-left: solid lightgray 1px;
    height: 100%;
    width: 1px;
}

.cancel-head{
    height: 120px;
    border-bottom: solid lightgray 1px;
    font-size: 34px;
    padding-left: 17vw;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.cancel-body{
    background-color:#f4f6f8;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.c-body-div{
    width: 66vw;
    min-width: 66vw;

}
.c-div-top{
    box-sizing: border-box;
    margin-top: 30px;
    background-color: white;
    height: 115px;
    border-bottom: solid lightgray 1px;
    border-radius: 5px 5px 0 0;
    display: flex;

    padding: 25px;
}
.c-div-top img{
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.c-div-inf{
    display:flex;
    margin-top: 5px;
}
.c-div-inf > div{
    display:flex;
    flex-direction: column;
    font-weight: bold;
    padding: 0 0 0 35px;
}
.c-div-inf > div > span:first-of-type{
    letter-spacing: -0.05em;
    font-size: 14px;
    margin-bottom: 8px;
}
.c-div-inf > div > span{
    font-size: 18px;
}

.c-div-inf a{
    text-decoration: none;
    color: #247F9E;
     font-size: 18px;
     cursor: pointer;
     font-weight: bold;
}

.c-div-inf a:hover{
    color: #19596f;
}

.c-div-btm{
    display: flex;
    align-items: center;
   background-color: white;
    height: 85px;
    border-radius: 0 0 5px 5px ;
    box-shadow: 0px 1px 1px lightgray;
}

.c-div-btm button{
   background-color: #B22222;
   color: white;
   width: 190px;
   height: 52px;
   border: none;
   outline: none;
   cursor: pointer;
   margin-left: 15px;
}

.c-div-btm button:hover{
    background-color:  #8d1b1b;
    transition: 0.4s;
}


.cncld-body{
    display: flex;
    justify-content: center;
}
.cncld-main{
    width: 65vw;
    min-width: 973px;
    display:flex;
    flex-direction: column;
}

.cncld-head{
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 60px;
}

.cncld-txt{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
}

.cncld-takeout{
    box-sizing: border-box;
    border: solid lightgray 1px;
    height: 95px;
    width: 750px;
   border-radius: 3px;
   margin-bottom: 70px;
   padding: 13px;
   display:flex;
   justify-content: space-between;

}

.cncld-takeout span img{
    height:32px;
    width: 32px;
    margin-right: 10px;

}
.cncld-takeout span p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.cncld-takeout span{
    display:flex;
    align-items: center;
}

.cncld-takeout div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.cncld-takeout div:last-of-type{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cncld-takeout div > p{
    font-size: 13px;
}

.cncld-takeout a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B22222;
    color: white;
    border-radius: 3px;
    width: 170px;
    text-decoration: none;
    font-size: 12px;
    height: 30px;
}
.cncld-takeout a:hover{
    background-color:  #8d1b1b;
    transition: 0.4s;
}

.cncl-del > h2{
 font-size: 20px;
 font-weight: bold;
 border-bottom: solid lightgray 1px;
 padding-bottom: 20px;
 margin-bottom: 15px;
}
.cncl-list{
    display: flex;
    margin-bottom: 35px;
}
.cncl-list a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

