// Place all the styles related to the api::restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.res-header{
    border-bottom: solid lightgray 1px;
    margin-bottom: 15px;
    margin-top: 20px;

}
.res-header h2{
    font-size: 21px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 20px;

}


.restaurant-icon{
    border: solid lightgray 1px;
    border-radius: 3px;
    height: 245px;
    width: 230px;
    text-decoration: none;
    cursor: pointer;
    
}
.restaurant-icon:hover{
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 0 2px 6px  
}

.restaurant-icon img{
    height: 130px;
    width: 230px;
    object-fit: cover;

}

.restaurant-icon h2{
    padding: 10px 7px;
    font-weight: bold;
    
    
}

.res-icon-cont{
  display: flex;
  

#res-link{
    text-decoration: none;
    color:black;
    cursor: pointer;
  padding: 0 15px;
}
}



.about-div{
    display: flex;
    justify-content: center;

}

.about-div div{
    width: 232px;
    margin-right: 20px;
}
.about-div h2{
    margin-top: 10px;
    font-weight: bold;
}
.about-div p{
    font-size: 14px;
    line-height: 1.5;
    padding-top: 5px;
}
.about-fp{
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 24px;
    font-weight: bold;
}

.about-lunch{
    background-image: image_url('lunch.jpg');
    height: 115px;
    width: 230px;
    border-radius: 4px;
}
.about-date{
    background-image: image_url('date_night.jpg');
    height: 115px;
    width: 230px;
    border-radius: 4px;
}
.about-global{
    background-image: image_url('global.jpg');
    background-size: cover;
    height: 115px;
    width: 230px;
    border-radius: 4px;
}
.about-corona{
    background-image: image_url('coronavirus.jpg');
    height: 115px;
    width: 230px;
    border-radius: 4px;
}

.rsearch{
    padding-right:30px;
    padding-top: 8px;
    border-left: none;
    cursor: pointer;
}

.res-modal{
    background-color: white;
    font-family: 'Amiko', sans-serif;
    position: absolute;
    height: 300px;
    width: 100%;
    top: 24px;
}
.res-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-modal-header{
  color: black;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  
}
.search-modal-header h1{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}
.search-modal-container{
    position: relative;
   display: flex;
   justify-content: center;
    align-items: center;
   width: 100%;
   height: 100%;
}

#search-modal-form{
  background-color: white;
  width: 500px;
  height: 48px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  border: solid lightgray 1px;
  margin-right: 15px;

}


#search-modal-div{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 520px;

}

.modal-search-bar{
  background-color: white;
    height: 48px;
    width: 345px;
    font-size: 15px;
    border-radius: 4px;
    margin-right: 12px;
    border: solid lightgray 1px;
}

.modal-search-bar input{
  font-family: 'Amiko', sans-serif;
    height: 38px;
    width: 300px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin-left: 10px;

}
.modal-search-bar input:focus{
  outline: none;
}
.modal-search-bar input::placeholder{
  color: rgb(138, 136, 136);
  font-weight: 520;
  font-size: 15px;
}

.modal-search-bar img{
  width: 19px;
  height: 19px;
  padding-left: 10px;
  margin-top: 13px;

}

.modal-search-div{
  display: flex;
  background-color:white;
  border-right: solid lightgray 1px;
  align-items: center;
  position: relative;
  padding-right:10px;

}
.modal-search-div select{
  padding-right: 10px;
    background-color:white;
  height: 40px;
  width:127px;
  border:none;
  font-size: 15px;
  font-family: 'Amiko', sans-serif;
 padding-right:10px;
  margin-top: 3px;


 
}
.modal-search-div i{
right: 0px;
position: absolute;
  background-color:white;
  padding-right: 13px;

}

.modal-search-input{
  background-color:white;
  height: 40px;
  border:none;
  border-right: solid lightgray 1px;
  font-size: 15px;
  font-family: 'Amiko', sans-serif;
 padding-right:10px;
  margin-top: 3px;
  
}


.modal-search-select{
  background-color:white;
  height: 40px;
  border: none;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 13px;
  font-family: 'Amiko', sans-serif;
}

.modal-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.res-loc-nav{
  display:flex;
  align-items: center;
  background-color: white;
  height: 30px;
  border-bottom: solid lightgray 1px;;
  font-size: 11px;
  padding-left: 25px;
}
.res-loc-nav a{
  text-decoration: none;
  color: #247F9E

}

.arrow{
  margin-top: 1px;
  height: 24px;
  width: 18px;
  border: solid lightgray;
  border-width: 0 1px 1px 0;
  transform: rotate(-45deg);
  margin-left: -13px;
  margin-right: 15px;
}

.res-img-nav{
  height: 330px;
  width: 100%;
  object-fit: cover;
}

.res-nav-div{
  position: relative;
  display: flex;

}

.res-fav-btn{
position: absolute;
z-index: 3;
right: 30px;
background-color: white;
width: 220px;
height:45px;
top: 30px;
font-size: 12px;
}

.res-fav-btn i{
cursor: auto;
}
.res-fav-btn:hover{
border: solid#B22222 2px; 
}

.res-fav-btn:focus{
outline: none; 
}

.res-content-div{

  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
}

.rest-info-div{
  margin-top: -50px;
  background-color: white;
  margin-left: 20px;

  width: 650px;

    z-index: 3;
    right: 0px;

}

.reserve-div{
  margin-top:-50px;
  background-color: white;
  width: 300px;
  z-index: 3;
  margin-left: 35px;


}

.rest-olinks{
  display: flex;
  position: sticky;
  height: 49px;
  border-bottom: solid lightgray 1px;
  margin:0 10px;
  align-items: center;
  font-size: 13px;
  top: 0;
  background-color: white;
}
.rest-olinks a{

  text-decoration: none;
  color: black;
  text-align: center;
}

.rest-olinks a:hover{
  color: #B22222;
  border-bottom: solid #B22222, 2px;
}

.lnk-cnt{
  height: 100%;
  display:flex;
  align-items:center;
  justify-content: center;
  margin-right: 40px;
}
.lnk-cnt:hover{
  border-bottom: solid #B22222 2px;
  color:#B22222;
}

.rest-name{
  display: flex;
  align-items:center;
  font-size: 32px;
  font-weight: bold;
  border-bottom: solid lightgray 1px;
  margin: 0 10px;
  height: 120px;
}

.rest-intro-div{
  display: flex;

  height: 40px;
  align-items: center;
  padding-top: 10px;
  margin: 0 10px;
}
.rest-intro-div p {
font-size: 13px;
margin-right: 10px;
margin-left: 2px;
font-weight:bold;
}

.rest-intro-div i{
  height: 20px;
z-index: -1;
}

.cmnt{
  transform: scaleX(-1);
  font-size: 12px;

}

#revs{
  margin-left: -8px;
  
}

.rest-desc{
  margin-left: 10px;
  display: flex;
  font-size: 14px;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 30px;
  line-height: 1.5;

}

.rest-ph{
  margin-bottom: 50px;
}

.rest-ph h2{
  margin: 0 10px;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight:bold;
}

.rest-photos{
  margin: 0 10px;
  height: 280px;

  display: flex;
  justify-content: space-between;
}



.photo-c1{
  height: 280px;
  width: 154px;
  border: solid white 1px;
}
.photo-r1{
  height: 137px;
  width: 154px;
  border: solid white 1px;
}
.photo-c2{
  width:302px;
  height:280px;
  border: solid white 1px;
}

.photo-r1 img{
  height: 137px;
  width: 154px;
  object-fit: cover;
}
.photo-c2 img{
  width:302px;
  height:280px;
  object-fit: cover;
}

.res-menu{
  margin: 0 10px;
  font-size: 22px;
  margin-bottom: 35px;
  border-bottom: solid lightgray 1px;
  padding-bottom: 15px;
  margin-top: 10px;

}

.res-menu h2{
  border-bottom: solid lightgray 1px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}
.res-menu p{
font-size: 14px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
}

.res-revs{
  margin: 0 10px;
  font-size: 22px;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: solid lightgray 1px;;

}
.res-revs h2{
  border-bottom: solid lightgray 1px;
  padding-bottom: 15px;
  margin-bottom:25px;
  font-weight: bold;

}
.res-rev-p{
font-size: 14px;
font-weight: bold;

}

.res-rating{
  display:flex;
  margin-top:15px;
  margin-left: 10px;
  margin-bottom: 10px;
 
}

.rate-div{
display:flex;
flex-direction: column;
border-left: solid lightgray 1px;
justify-content: center;
align-items:center;
padding-left: 10px;
padding-right:10px

}
.rate-div-f{
  display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-right:10px;
}
.rate-div p{
font-size: 13px;

}
.rate-div-f p{
  font-size: 13px;
}
.rate-div span{
font-size: 16px;

}
.rate-div-f span{
  font-size: 16px;
}

.icn-strs{
  display: flex;
  margin-left: 7px;
  align-items: center;
  margin-bottom: 13px;
}

.ifpst{
  color:#B22222;
}
.ifpstr{
  color:#B22222;
}

.icn-strs p{
margin-left: 10px;
margin-top: 7px;
font-size: 14px;

}

.res-nl{
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.nl-bars{
font-size: 14px;
}

.res-nl p:first-of-type{
font-weight: bold;
padding-left: 10px;
padding-right: 3px
}
.res-nl p{
font-size: 12px;
color:gray;
}

.icn-strs2{
  display: flex;
margin-top: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.ifpst2{
  color:#B22222;
font-size:15px;
}
.ifpstr2{
  color:#B22222;
  font-size:15px;
}

.icn-strs2 p{
margin-left: 10px;
margin-top: 7px;
font-size: 13px;

}

.fpstl2{
 color: lightgray;
 transform: scaleX(-1);
 margin-left: -17px;
 font-size:15px;
}

.res-tu{
  display: flex;
  align-items: center;
  font-size: 13px;

}
.res-tu i {
  display: flex;
  align-items: center;
font-size: 17px;
}

.res-tu p {
color: gray;
font-size: 12px;
}

.res-tu p:first-of-type {
font-weight: bold;
padding-left: 10px;
}

.res-wid{
  padding: 15px;
  position: sticky;
  top: 0px;
  box-shadow: 3px 3px 8px gray;
  background-color: white;
}

.wid-head-div{
  border-bottom: solid lightgray 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.wid-head-div h2{
  font-weight: bold;
  font-size: 19px;
}

.wid-lbl{
  font-size: 12px;
  

}
.wid-lbl input:hover{
  outline: none;
  border-bottom: solid #B22222 2px;
  

}
.wid-lbl select:hover{
  outline: none;
  border-bottom: solid #B22222 2px;
}

.wid-lbl input:focus{
  outline: none;
}
.wid-lbl select:focus{
  outline: none;
}

.wid-sel{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.wid-sel select{
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: solid lightgray 1px;
  margin-top: 5px;
  font-family: 'Amiko', sans-serif;
}

.wid-dt{
  display: flex;
  align-items: center;
}
.wid-dt select{
  height: 35px;
  border: none;
  border-bottom: solid lightgray 1px;
  margin-top: 5px;
  font-family: 'Amiko', sans-serif;
  
}
.wid-dt input{
  border:none;
  height: 35px;
font-family: 'Amiko', sans-serif;
border-bottom: solid lightgray 1px;
padding-top: 4px;
}

.wid-btn{
  background-color: #B22222;
  color: white;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  font-size: 15px;
}
.wid-btn:focus{
  outline: solid blue 1px;
}
.wid-form{
  border-bottom: solid lightgray 1px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.rs-details{
  margin-top: 40px;
  padding-left: 5px;
}

.rs-nei-det{
  display:flex;
  margin-bottom: 10px;
 
}

.rs-nei-det p{
  display: flex;
  font-size: 13px;
  margin-bottom: 5px;
}
.rs-nei-det p:first-of-type{
  font-weight:bold;
}
.rs-nei-p{
  padding-left: 7px;
  line-height: 1.4;
}

.rs-nei-icn i{
 height: 25px;
 width: 25px;
}

.icn-strs3{
  padding-top: 4px;
}