.search-page-nav{
    background-image: image_url('wood.jpg');
    background-size: 100% 350px;;
    width: 100%;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#sp-form{
background-color: white;
  width: 460px;
  height: 40px;
  display:flex;
  justify-content: center;
  border-radius: 4px;
  border: solid lightgray 1px;
  margin-right: 15px;  
  cursor: pointer;
}

.sp-input{
background-color:white;
  height: 100%;
  border:none;
  border-right: solid lightgray 1px;
  font-size: 15px;
  font-family: 'Amiko', sans-serif;
  padding-right: 10px;
  padding-left: 5px;

  width: 150px;
  cursor:pointer;
}

.sp-date-o{
      position: absolute;
   background-color: white;
   width: 99px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: -332px;
    padding-left: 17px;
    height: 33px;
    display: flex;
    align-items: center;
}

.sp-select-time{
  display:flex;
  position: relative;
  border-right: solid lightgray 1px;
  align-items: center;
  cursor: pointer;
}

.sp-select-time i{
  position: absolute;
  right:0;
  background-color:white;
  padding-right: 2px;
  margin-right: 13px;
  padding-top: 1px;

}

.sp-select{
  background-color:white;
  height: 35px;
  border: none;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 35px;
  font-family: 'Amiko', sans-serif;
  margin-top: 3px;  
  cursor: pointer;
  margin-right: 10px;
}

#sp-form-div{
display:flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
}

.sp-search-bar{
    background-color: white;
    height: 40px;
    width: 305px;
    font-size: 15px;
    border-radius: 4px;
    border: solid lightgray 1px;
    display: flex;
    align-items: center;
}
.sp-search-bar input{
  font-family: 'Amiko', sans-serif;
    height: 30px;
    width: 260px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
 

}
.sp-search-bar input:focus{
  outline: none;
}
.sp-search-bar input::placeholder{
  color: rgb(138, 136, 136);
  font-weight: 520;
  font-size: 15px;
}

.sp-search-bar img{
  width: 19px;
  height: 19px;
  padding-left: 10px;
}


.sp-form-btn{
        border-radius: 3px;
    background-color: #B22222;
    color: white;
    font-family: 'Amiko', sans-serif;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 125px;
}
.sp-form-btn:hover{
  background-color:  #8d1b1b;
  transition: 0.4s;
}

.sp-ctnt{
  background-color:white;
  min-height: 75vh;
}
.sp-ctnt-in{
  background-color:white;
  margin: 0 190px;
}

.sp-header{
  border-bottom: solid lightgray 1px;
}
.sp-header h2{
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 21px;
}

.sp-header p{

  padding-bottom: 40px;
  font-size: 13px;
}

.rests-main{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid lightgray 1px;
}

.sp-img img{
  height: 200px;
  width: 200px;
  border-radius: 3px;
  object-fit: cover;

}

.sp-info{
  margin-left: 12px;
  text-decoration: none;
}
.sp-info  a{
  color: #247F9E;
  text-decoration: none;
  font-weight: bold;
  margin-bottom:10px
}

.sp-info  a:hover{
  text-decoration:underline;
}
.sp-info > span{
  display: flex;
  align-items: center;
  margin-top: 9px;
  height: 20px;
}
.sp-info p{
  font-size: 12px;
  padding-left: 3px;
margin-top: 4px;
}

.fpst{
  color: rgb(226, 187, 10);

}
.fpstr{
  color: rgb(226, 187, 10);

}
.fpstl{
 color: lightgray;
 transform: scaleX(-1);
 margin-left: -18.5px;
}

.g-dol{
  color: lightgray;
}

.srch-str{
  display: flex;
}

.dols{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4px;

}
.dols-in{
  display: flex;
  align-items: center;
  font-size: 14px;


}

.dols p{
  font-size:14px;
  display: flex;

}

.dols div{
  margin-top: 4px;
}

.fp-book{
  font-weight: bold;
  font-size: 10px;
  margin-top: 12px;
  margin-left: -3px
}

.dols2{
  font-size: 13px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
// #nei{

// }

.g-dol2{
  color: lightgray;
}

.dols2 p{
  margin-right: 5px;
  text-overflow: ellipsis;
}
.dols2 div{
margin-right: 5px;
}

.avail-btns{
  display:flex;
  margin-top: 8px;
  flex-wrap: wrap;
}
.avail-btns > *{
  margin-top: 8px;
}
.avail-btns button{
  margin-right: 10px;
}
.valid-t{
  background-color: #B22222;
  color:white;
  height: 32px;
  width: 98px;
  cursor: pointer;
}
.valid-t:hover{
  background-color:#8d1b1b;
  transition: 0.4s;
}

.inv-t{
background-color: rgb(228, 224, 224);
  height: 32px;
  width: 98px;
}

.timeslots > span{
  display: flex;
  justify-content: flex-end;
  width: 525px;
  font-size: 12px;
  align-items: center;
  font-weight: bold;
  margin-top:-15px;
}

.timeslots > span > img{
  height: 18px;
  width: 18px;
}

.none-avail{
  display: flex;
  flex-direction: column;
}

.none-avail > a{
  width:160px;
  height: 32px;
  font-size: 14.5px;
  font-weight: 100;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: solid #B22222 1px;
  color: #B22222;
}

.none-avail > a:hover{
  background-color:rgb(235, 231, 231) ;
  transition: 0.4s;
  text-decoration: none;

}
.none-avail > span{
  font-size: 13px;
  line-height: 1.6;
  font-weight: 100;
  width: 510px;
}


