// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-nav{
    height: 25px;
    left: 0;
    right: 0;
    background-color: rgb(244, 246, 248);
  }


  .nav-link-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }

  .nav-link-list a{
    text-decoration: none;
    color:rgb(51, 50, 50);
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
    .nav-link-list li{
    padding-top: 5px;
  }
 

  .logo-nav{
    margin-top: 13px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid lightgray 1px;
    padding-bottom: 10px;

  }
 
  .not-logged-links{
    margin-right: 35px;
    display: flex;
    align-items: center;

  }

  .logged-links{
    margin-right: 35px;
    display: flex;
    align-items: center;

  }

  .search-icon > img {
    width: 21px;
    height: 19px;

  }
  .search-icon{

    padding-left: 11px;

  }
  .ssearch{
    cursor: pointer;
  
    
  }

  .lsearch{
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: solid lightgray 1px;
    
  }
  
  .far2{
    font-size: 20px;
    color: black;
    margin: 10px;
    cursor: pointer;
  }
  .far3{
    font-size: 19px;
    color: black;
    margin: 10px 10px 10px 0;
    cursor: pointer;
  }

  .fas2{
    font-size: 20px;
    color: #B22222;
    margin: 10px;
    cursor: pointer;
  }
  

  #user-c{
    height: 33px;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid lightgray 1px;
    border-radius: 50px;
    background-color: rgb(244, 246, 248);
    margin-right: 6px;
  }
  .fa-bell{
    padding-right: 15px;
  }
  
  .fa-calendar-alt{
    color:lightgray;
  }

  .logo-div{
    display: flex;
    // border-right: solid lightgray 1px;
    transform: scale(.7);
    margin-right: auto;
    align-items: center;
    
  }


  .logo{
    margin-right: 9px;
  }
  .copy-r{
    position: absolute;
    margin-left: 192.5px;
    font-size: 8px;
    margin-top: -11px;
    color: dimgray
  }
  .logo-border{
    height: 35px;
    border-left:solid lightgray 1px;
  }
  .logo-border2{
    height: 77px;
    border-left:solid lightgray 1px;
    margin-top: -5px;
  }

  .logo-link-list{
    display: flex;

  }

 .login-form-container {
  position: relative;
   display: flex;
   justify-content: center;
   
 }

 .login-form {
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-bottom: solid lightgray 1px;
   padding-bottom: 15px;
   margin-bottom: 20px;
 }

 .login-form-box { 
   background: white;
   position: relative;
   top: 50px;
   width: 350px;
   height: 500px;
 }

 
 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.35);
   z-index: 10;
  }
  
  .modal-form {
    background-color: white;
    font-family: 'Amiko', sans-serif;
    position: absolute;
    border-radius: 5px;
    height: 675px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-form p{
    font-size: 15px;
  }
  
  .close-x {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  
  .log-in-btn {
    height: 35px;
    width: 72px;
    font-size: 12px;
    color: black;
    background-color: white;
    border: solid lightgray 1px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
    cursor: pointer;

  }
  
  .sign-up-btn {
    height: 35px;
    width: 72px;
    font-size: 12px;
    color: white;
    background-color: #247F9E;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
    cursor: pointer;
  } 
  
  .switch-form {
    font-weight: bold;
    color:  #B22222;
    cursor: pointer;
  }

  .switch-form:hover {
    color:  #8d1b1b;
    transition: 0.4s;
  }
  
  .form-btn{
    display: flex;
   justify-content: center;
   border-radius: 3px;
    background-color: #B22222;
    color: white;
    font-family: 'Amiko', sans-serif;
    font-size: 17px;
    border: none;
    margin-bottom: 20px;
    padding: 15px 0px;
    cursor: pointer;
    outline: none
  }
  .form-btn:hover{
    background-color:  #8d1b1b;
    transition: 0.4s;
  }

 .form-header{
   border-bottom: solid lightgray 1px;
   font-size: 21px;
   font-family: 'Amiko', sans-serif;
   padding-bottom: 12px;
   font-weight: bold;
 }

 .error-list{
   color: #B22222;
   font-weight: bold;
   font-size: 14px;
   padding-top: 6px;
 }
 .form-input{
  
  border: solid lightgray 1px;
  background-color: white;
  color: black;
  height: 50px;
  padding-left: 20px;
  border-radius: 2px;
  font-weight: 10;
 }

 .form-input:focus{
background-color: white;
 outline: solid lightgray 2px;
 }

 .form-input::placeholder{
  font-family: 'Amiko', sans-serif;
  font-size: 13px;
 }
 .f-sel-div{
   display:flex;
   flex-direction: column;
   margin-bottom: 15px;
 }

 .form-select{
  border: solid lightgray 1px;
  background-color: white;
 color: dimgray;
  height: 50px;
  
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Amiko', sans-serif;
 }

 .form-select:focus{
background-color: white;
 outline: solid lightgray 2px;
 }


 #user-logout{
   color: #B22222;
   cursor: pointer;
   /* padding-left: 10px; */
}
#user-logout:hover{
   color:black;
   /* padding-left: 10px; */
}
 
/* .user-dropdown{
  display: none;
} */
.user-dropdown li:hover {
  background-color:  rgb(244, 246, 248);
  transition: 0.2s;
}
.user-dropdown a:hover {
  background-color: rgb(244, 246, 248);
  transition: 0.2s;
}
.user-dropdown li {
  list-style: none;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-top: 5px;
  cursor: pointer;

}
.user-dropdown a {
  text-decoration: none;
  color: black;
}

.user-dropdown{
  display: block;
  position: absolute;
  background-color: white;
  border: solid lightgray 1px;
  z-index: 3;
  width: 300px;
  right: 163px;
  border-radius: 4px;
  margin-top: 29px;
}
.pointer{
  position: absolute;
  background-color: white;
  border-top: solid lightgray 1px;
  border-left: solid lightgray 1px;
  height: 14px;
  width: 14px;
  margin-top:-8px;
  margin-left: 275px;
  transform: rotate(45deg);
}
#pointer{
  position: absolute;
  background-color: white;
  border-top: solid lightgray 1px;
  border-left: solid lightgray 1px;
  height: 14px;
  width: 14px;
  margin-top:-8px;
  margin-left: 275px;
  transform: rotate(45deg);
}

#user-greeting{
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-left: 10px;
  border-bottom: solid lightgray 1px;
}




.upcoming-dropdown{
  display: block;
  position: absolute;
  background-color: white;
  border: solid lightgray 1px;
  z-index: 3;
  width: 300px;
  max-height: 450px;

  right: 116px;
  border-radius: 4px;
  margin: 5px;
  margin-top: 3px;
}
.upcoming-dropdown h2{
  font-weight: bold;
  font-size: 15px;
  // padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-left: 10px;
}

.upcoming-dropdown p{
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 35px;
  padding-left: 10px;
}

.uu-over > a {
text-decoration: none;
  color: #B22222;
  font-size: 13px;
  padding: 15px 0 15px 15px;
  margin-top: 10px;
}

.uu-over{
  overflow:scroll;
  max-height: 420px;
}
.dd-res{
display:flex;
border-bottom: solid lightgray 1px;
margin:0 20px 0 10px;
padding: 15px 0;

}

.dd-res:last-of-type{

margin-bottom: 20px;
}
.dd-res-l{
  margin-right: 8px;
}
.dd-res-l > div{
  display: flex;
  align-items: center;
  justify-content: center;
background-color: rgb(36, 35, 48);
border-radius: 30px;
height: 33px;
width:33px;
}

.dd-res-l > div > img{
  margin-top: -2px;
  height: 17px;
  width:17px;
}
.dd-res-name{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dd-res-name a{
  text-decoration: none;
  color: black;

}
.dd-res-inf{
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 8px;
}
.dd-res-inf > span{
  align-items: center;
  display: flex;
  margin-bottom: 4px;

}
.dd-res-gc > img{
  height:17px;
  width:17px;
  margin-right: 5px;
}
.dd-res-time > i{
  font-size: 17px;
  margin-right: 5px;
}
.dd-res-date > img{
  height:17px;
  width:17px;
  margin-right: 5px;
}
.dd-res-links{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.dd-res-links a{
  text-decoration: none;
  color: #247F9E;
  font-size: 13px;
}
.dd-res-links i{
  color: lightgray;
  font-size: 4px;
  margin: 0 7px;
}
.dd-res-r > a{
   text-decoration: none;
  color: #B22222;
  font-size: 13px;
}

.dd-res2{
display:flex;
border-bottom: solid lightgray 1px;
// margin:0 20px 0 10px;
padding: 15px 20px 0 10px;

}

.dd-res2:last-of-type{
margin-bottom: 20px;
}

.dd-res-r2{
  width: 100%;
}

.dd-res-name2{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  
}

.dd-res-name2 a{
  text-decoration: none;
  color:#B22222;
}
.dd-res-name2 a:hover{

  color: #8d1b1b;
}

.dd-res-inf2{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 8px;
}
.dd-res-inf2 > span{
  color: dimgray;
  align-items: center;
  display: flex;
  margin-bottom: 5px;

}

.dd-res-links2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}
.dd-res-links2 a{
  text-decoration: none;
  color: #247F9E;
  font-size: 13px;
  margin-right: 10px;
}
.dd-res-links2 a:hover{
  color: #19596f;
  transition: 0.4s;
}


.notification-dropdown{
  display: block;
  position: absolute;
  background-color: white;
  border: solid lightgray 1px;
  z-index: 3;
  width: 300px;
  right: 78px;
  border-radius: 4px;
  margin: 5px;
  margin-top: 7px;
}

.notification-dropdown h2{
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.notification-dropdown p{
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 40px;
  font-size: 14px;
  padding-right: 25px;
  padding-left: 25px;
  letter-spacing: 1.5px;
  line-height: 1.8;

}
.bell-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bell-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}



.error-input{
  border: solid #B22222 1.75px;

}
.error-input::placeholder{
  color: hsl(0, 58%, 65%);
  
}

.contact-div{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  
}
.contact-div div{
display: flex;
justify-content: center;
align-items: center;
border: solid lightgray 1px;
background-color:white;
width: 350px;
height: 42px;
border-radius: 3px;
margin: 7px 0px;
}

.contact-div div:hover{
border: solid #B22222 2px;
transition: 0.05s;
}

.contact-div a{
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.contact-div i{
padding-left: 6px;
margin-top: -3px;

}
