// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-nav{
  margin-top: 13px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: solid lightgray 1px;
  padding-bottom: 15px;
}
.user-div{
  border-right: solid lightgray 1px;
  transform: scale(.72);
  margin-right: auto;
  
}

.user-link-list{
  display: flex;
  align-items: center;
}

.uu-dropdown{
    display: block;
  position: absolute;
  background-color: white;
  border: solid lightgray 1px;
  z-index: 4;
  width: 180px;
  right: 10px;
  border-radius: 4px;
  margin: 5px;
}
.pointer3{
  position: absolute;
  background-color: white;
  border-top: solid lightgray 1px;
  border-left: solid lightgray 1px;
  height: 14px;
  width: 14px;
  margin-left: 16px;
  margin-top:-8px;

  transform: rotate(45deg);
}

.uu-dropdown h2{
    color: gray;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: solid lightgray 2px;
}

.uu-dropdown p{
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  padding-right: 25px;
  padding-left: 10px;


}

.greeting-dropdown li:hover {
  background-color:  rgb(244, 246, 248);
  transition: 0.15s;
  color: black;
}
.greeting-dropdown a:hover {
  background-color: rgb(244, 246, 248);
  transition: 0.15s;
  color: black;
}

.greeting-dropdown li {
  list-style: none;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-top: 5px;
  color: dimgray;
  font-weight: bold;
}
.greeting-dropdown a {
  text-decoration: none;
  color: dimgray;
  font-weight: bold;
}

.greeting-dropdown{
  display: block;
  position: absolute;
  background-color: white;
  border: solid lightgray 1px;
  z-index: 4;
  width: 200px;
  right: 20px;
  border-radius: 4px;
  margin-top: 25px;
}

.pointer2{
  position: absolute;
  background-color: white;
  border-top: solid lightgray 1px;
  border-left: solid lightgray 1px;
  height: 14px;
  width: 14px;
  margin-top:-8px;
margin-left: 166px;
  transform: rotate(45deg);
}

#greeting-header-div{
  border-bottom: solid lightgray 1px;
  padding-top: 10px;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1.5;
}

.greeting{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 18px;
  padding-left: 15px;
  width: 120px;
  height: 25px;
  border-left: solid lightgray 1px;
  cursor: pointer;
}

.greeting li{
  font-size: 15px;
  padding-top: 12px;
}

.greeting-angle{
  background-color: white;
  border-top: solid gray 1.5px;
  border-right: solid gray 1.5px;
  height: 6px;
  width: 6px;
  transform: rotate(135deg);
  margin-top: -5px;

}

.user-header{
  border-bottom: solid lightgray 1px;
}
.user-header *{
  padding-left: 150px;
}
.user-header h2{
  font-size: 37px;
  font-weight: 600;
  padding-top: 15px;
  cursor: pointer;
}
.user-header h2:hover{
  color:#B22222;
}

.user-header p{
  color: dimgray;
  padding-bottom: 15px;
  padding-top: 5px;
  font-weight: bold;
  padding-left: 154px;
}
.user-links{
background-color: white;
border-bottom: solid lightgray 1px;
}

.user-links a{
text-decoration: none;
color: #247F9E
}

.user-links a:hover{
border-bottom: solid black 1px;
color: black;
}

// .active-user-link{

// }

.show-cntnt{
  display: flex;
  background-color: rgb(244, 246, 248);
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.inner-shw-cntnt{
  display: flex;
  margin: 25px 150px;
  width: 100%;
  height: 100%;
}
.show-u-links{
  background-color: rgb(244, 246, 248);
  margin-top:25px;
  padding-left: 15px;
  padding-right: 35px;
}

.show-u-links a {
  text-decoration: none;
}
.show-u-links p {
  color: gray;
  font-size: 14px;
  margin-bottom: 25px;
  text-decoration: none;
 
  
}
.show-u-tbs div{
  margin-bottom:12px;

 
}


.show-u-tbs {
  width: 100%;
  
}
.show-u-tbs h1{
  font-size:23px;
  font-weight: bold;
  padding-left: 20px;

}


.usdiv{
background-color: white;
  -webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px; 
box-shadow: 0px 2px 2px lightgray;
}

.sep{
  height:75px;
  border-bottom: solid lightgray 1px;
  display: flex;
  align-items: center;

}
.btm{
  background-color:white;
  min-height: 75px;
  display:flex;
  align-items: center;
}
.btm p{
  font-size: 14px;
  padding-left: 20px;
  margin-top: -15px;
}
.reservation-it{
  margin-bottom: 10px;
  display: flex;
  border-bottom: solid lightgray 1px;
  padding-bottom: 30px;
  padding-left: 20px;
  
}

.reservation-it:last-of-type{
 border-bottom: none;

}


.iter{
  font-size: 14px;
flex-direction:column;
background-color:white;
  min-height: 75px;
  display:flex;
  justify-content: center;

  -webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px; 
  margin-top: 10px;

}

.iter p{
  padding-left: 20px;
}

.btm{

  -webkit-border-radius: 13px 13px 13px 13px;
border-radius: 13px 13px 13px 13px; 
}

#u-res-pic{
  height: 90px;
  width: 90px;
  border-radius: 3px;
  margin-right: 10px;
}

.u-res-info-div{
    font-size: 13px;
    margin-top: 12px;
}

.u-res-info-div span{
    margin: 0;
    color:dimgray;
}

.u-res-name span{
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.u-res-name a{
    text-decoration: none;
}
   

.edit-res{
  text-decoration: none;
  color:  #247F9E;
 
}
.edit-res a{
  text-decoration: none;
 margin-right: 10px;
 cursor:pointer;
   color:  #247F9E;


}

.edit-res a:hover{
 margin-right: 10px;
 color: #19596f;

}

.past-hold{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fav-hold{
margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid lightgray 1px;
  padding-bottom: 30px;
  padding-left: 20px;
  align-items: center;
}
.fav-hold:last-of-type{
 border-bottom: none;
}

.fav-it{

  display: flex;
}

.fav-me{
  color: #B22222;
  margin-left: 12px;
  cursor: pointer;
  display:flex
}
.fav-me i{
  margin-right: 5px;
}
.fav-me span{
  color: #B22222;
}

.fav-me:hover span{
  color: #8d1b1b;
}
#rem-fav{
  color: #B22222;
  cursor: pointer;
  display:flex;
  margin-bottom: 5px;
}
#rem-fav > i{
  margin-right: 5px;

}
#rem-fav > span{
  color: dimgray;
  font-size: 13px;
}

#rem-fav:hover > span{
  color:#B22222;
}
.icn-strs4{
  display: flex;
  align-items: center;
  font-size: 17px;
 
}

.ffpst{
  color: rgb(231, 165, 89);

}
.ffpstr{
  color: rgb(231, 165, 89);

}
.ffpstl{
 color: lightgray;
 transform: scaleX(-1);
 margin-left: -19.5px;
}

.fav-det{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.fav-det > span:first-of-type{
  margin-right: 5px;
}
.fav-det > span:last-of-type{
  margin-left: 5px;
}
#fav-brdr{
  width:1px;
  height: 14px;
  border-right:solid black 1px;
  margin-bottom: 0px;
}


